*{
    margin:0px;
    padding: 0px;
}
body{
    background: rgb(242, 247, 255);
    display: flex;
    min-height: 100vh;
 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    font-family: sans-serif;
}
.testimonial{
    text-align: center;
    color: #1a202c;
    font-size: 1.25em;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.subtitle{
    text-align:center;
    color: #718096;
    margin-bottom: 40px;

}
.card-grid{
    display: flex;
    justify-content: center;
    gap:20px;
    width: 100%;
    flex-wrap: wrap;
    max-width: 1200px;
}
.card{
    background: rgb(255, 255, 255);
    padding: 20px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 12px;
    text-align: left;
    width: 270px;
    max-width: 90%;


}

.name{
    font-size: 0.95rem;
     
}
.name p{
    color: #718096;
    font-size: 0.85rem;
}
.text{
   color: #4a5568;
   line-height: 1.2;
   margin: 15px 0px 15px 0px;
   font-style: italic;
   font-size: 15px;
   text-align: justify;
}

.star{
    width: 15px;
    height: 15px;
    margin-bottom: 10px;
}