
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
.first-box{
    margin: 10px;
    padding: 90px;
    background: #e2e2e2;
    border-radius: 30px 30px 0px 0px;
}
#hello-text{
    color: rgb(22, 135, 95);
    font-weight: bolder;
    font-size: 80px;
}
.firstbox-text{
    font-size: larger;
    font-weight: bold;
    margin-top: 10px;
}
.ftb-text{
    text-align: justify;
    width: 50%;
}
#rakib{
    font-size: 60 px;
    font-weight: bold;
}

.color1{
   color:rgb(26, 118, 255) ;
}
  .navibar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #222;
    background-color: rgb(22, 135, 95);
    margin: 0px;
    padding: 15px 40px;
    border: 1px solid#212222;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;

  }
  .navibar p{
    font-weight: bolder;
    font-size: medium;
    color: rgb(242, 243, 245);
  }

  .navibar li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

.list{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 30px;

}
.letbutton{
    color: rgb(15, 15, 15);
    background: white;
     padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid rgb(204, 203, 203);
    cursor: pointer;
}


.head1{
    margin: 10px 0px;
    background-color: rgb(226, 226, 226);
    padding: 80px;
}
.formsection{
    margin: 40px;
    align-items: center;
    background-color: rgb(240, 240, 240);
    padding: 60px;
    border-radius: 12px;
    border: 1px solid;
    margin-bottom: 70px;
}
.index-row{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.fild{
    
    display:flex ;
    flex-direction: column;
    margin-bottom: 15px;
    
}
.Requirement{
        display:flex ;
    flex-direction: column;
    margin-top: 10px;
}

input, textarea{
    color: #ffffff;
    background: #e2e2e2;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid white;
}
@media (min-width: 600px) {
  .index-row {
    flex-direction: row; 
  }
  .fild {
    flex: 1;
  }
}

#connect{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(22, 135, 95);
    margin-bottom: 20px;
    
}
label{
    margin-bottom: 5px;
}
button{
    color: rgb(15, 15, 15);
    background: #e2e2e2;
    padding: 4px 15px;
    border-radius: 6px;
    margin-right: 10px;
    border: 1px solid white;
    cursor: pointer;
}
.submt{
    color: rgb(15, 15, 15);
    background: white;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid rgb(204, 203, 203);
    cursor: pointer;
}

footer{
    width: 100%;
    position:fixed;
    bottom: 0;
    background: #222;
    padding: 10px;
    text-align: center;
    color: aliceblue;
    font-size: 10px;
    margin-top: 40px;
}