*{
    margin: 0px;
    padding: 0px;
}
nav li{
    display: inline;
    margin-right: 20px;
    list-style: none;
    align-content: center;
    align-items: center;
    text-align: center;
   

}
nav li a{
    text-decoration: none;
    text-align: center;
}
nav li:hover{
    background: rgb(120, 120, 255);
}
nav {
  text-align: center;
  background-color: #e9e9e9;
  padding: 20px;
}
